# Investigate Building Sources

Benchmark the building retrieval pipeline using bounding boxes sourced from `event_weights_grid.shp`. Results are written to a GeoParquet along with per-query timing logs.

In [5]:
from pathlib import Path
import sys
import time

import geopandas as gpd
from shapely.geometry import box
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output


REPO_ROOT = Path.cwd().resolve().parents[1]
MODULE_ROOT = REPO_ROOT / 'code' / 'overture_analysis'
if str(MODULE_ROOT) not in sys.path:
    sys.path.append(str(MODULE_ROOT))

from functions.building_retriever import BuildingRetriever

DATA_DIR = REPO_ROOT / 'data'
RESULTS_DIR = DATA_DIR / 'results'
RESULTS_DIR.mkdir(parents=True, exist_ok=True)

BUILDINGS_PATH = REPO_ROOT / 'gis_data' / 'overturemaps-us-west-2' / 'release' / '2025-08-20.1' / 'theme=buildings' / 'type=building'
SHAPEFILE_PATH = DATA_DIR / 'OSM Projects' / 'Data' / 'Large-scale events' / 'event_weights_grid.shp'

print(f'Using buildings data from: {BUILDINGS_PATH}')
print(f'Reading shapefile: {SHAPEFILE_PATH}')

Using buildings data from: /workspace/gis_data/overturemaps-us-west-2/release/2025-08-20.1/theme=buildings/type=building
Reading shapefile: /workspace/data/OSM Projects/Data/Large-scale events/event_weights_grid.shp

In [6]:
retriever = BuildingRetriever(BUILDINGS_PATH)

grid_gdf = gpd.read_file(SHAPEFILE_PATH)
if grid_gdf.empty:
    raise RuntimeError('The shapefile contains no features.')

target_crs = 'EPSG:4326'
if grid_gdf.crs is None:
    grid_gdf = grid_gdf.set_crs(target_crs)
elif str(grid_gdf.crs) != target_crs:
    try:
        grid_gdf = grid_gdf.to_crs(target_crs)
    except Exception as exc:
        raise RuntimeError('Unable to reproject grid data to EPSG:4326 for bounding box filtering.') from exc

bbox_geom = box(97.345, 5.61, 105.639, 20.464)
subset = grid_gdf[grid_gdf.geometry.intersects(bbox_geom)].copy()
if subset.empty:
    raise RuntimeError('No grid features intersect the specified bounding box.')

print(f'Loaded {len(grid_gdf)} total features; using {len(subset)} within bounding box for benchmarking.')

Loaded 10136 total features; using 59 within bounding box for benchmarking.

In [7]:
parquet_path = RESULTS_DIR / 'buildings_investigation_result.parquet'
log_path = RESULTS_DIR / 'buildings_investigation_log.csv'

results_records, log_rows = retriever.collect_bbox_statistics(
    subset,
    geometry_field='geometry',
    metadata_fields=['id', 'entities'],
    include_osm_breakdown=True,
)

clear_output(wait=True)

result_gdf = gpd.GeoDataFrame(results_records, geometry='geometry', crs=subset.crs)
if not result_gdf.empty:
    result_gdf.to_parquet(parquet_path)
    print(f'Wrote GeoParquet: {parquet_path}')
else:
    print('No results to save to GeoParquet.')

log_df = pd.DataFrame(log_rows)
if not log_df.empty:
    log_df.to_csv(log_path, index=False)
    print(f'Wrote log CSV: {log_path}')

Wrote GeoParquet: /workspace/data/results/buildings_investigation_result.parquet
Wrote log CSV: /workspace/data/results/buildings_investigation_log.csv

In [8]:
result_gdf[['id', 'entities', 'buildings_count', 'osm_buildings_count']] if not result_gdf.empty else result_gdf

      id  entities  buildings_count  osm_buildings_count
0   9810   47128.0           219914                79871
1   9824   20825.0           119144                 6286
2   9825   25802.0           262106                95829
3   9826   82956.0          1421523                35440
4   9827   74251.0          1709548                34295
5   9828   53056.0          1027852                17528
6   9829   25982.0           430532                43367
7   9842   23580.0           608637                15621
8   9855   30743.0          1303626                22224
9   9856   51848.0           311666                68799
10  9872   86734.0           461806                54471
11  9873   25436.0           618847                16785
12  9874   89753.0          1329076                62902
13  9875   64112.0          1029060                36293
14  9876   82310.0           794441                68154
15  9877   28796.0           378563                16582
16  9878   56152.0           998177                30458
17  9879   74725.0           766746                67311
18  9880   41953.0           491646                24445
19  9881   33653.0           129714                30195
20  9886   32118.0           137525                71378
21  9887   24405.0            39866                34257
22  9888   59004.0            59238                52920
23  9889   23792.0            84517                22480
24  9890   87097.0          1932170                63426
25  9891   42438.0          1104454                 6111
26  9892   99292.0          2698587                98403
27  9926   22503.0           682726                34428
28  9927   83544.0          2053892                26421
29  9928   50591.0           393969                49147
30  9929   29691.0           556841                 4564
31  9930   22967.0           605501                 1572
32  9931   22795.0          1324068               839442
33  9936   49404.0          1299399                17159
34  9937   28154.0           613172                33484
35  9938   21919.0           649349                 6189
36  9939   55839.0           827727                34126
37  9940   54012.0           340874                52090
38  9941   46792.0           119428                43633
39  9942   63033.0           225294                65382
40  9943   38519.0           148667                36592
41  9944   70177.0           288833                65048
42  9945   54567.0          1778570                78927
43  9946  147689.0          3999721                30516
44  9947   31010.0           814857                  379
45  9948   35735.0           757217                 1447
46  9949   55015.0          1348839                68652
47  9950   70430.0          1554779                59329
48  9951   43922.0          1442910                27137
49  9952   56287.0           182108                53117
50  9953   53212.0           143207                50460
51  9954   54935.0           188629                55028
52  9957   36355.0          1068771                51346
53  9958   20289.0           913921                12532
54  9959  103158.0           270078               108792
55  9966  123204.0          3978605                17620
56  9967   25253.0           817975                18305
57  9968   40375.0          2053899                42305
58  9969   46396.0          3236104                60746

In [ ]:
analysis_df = pd.read_parquet(parquet_path)
if analysis_df.empty:
    raise RuntimeError('No data found in buildings_investigation_result.parquet.')

chart_df = analysis_df.sort_values('id')
ax = chart_df.plot(
    x='id',
    y=['entities', 'buildings_count', 'osm_buildings_count'],
    kind='line',
    figsize=(12, 6),
    marker='o'
)
ax.set_title('Buildings Benchmark Metrics by Feature ID')
ax.set_xlabel('Grid feature id')
ax.set_ylabel('Count')
ax.grid(True)
plt.tight_layout()
plt.show()
chart_df[['id', 'entities', 'buildings_count', 'osm_buildings_count']].head()

In [9]:
retriever.close()